// Colour Pallette

$venice-blue: #085586;
$madison: #082D58;
$bermuda-gray: #6B8FAC;
$curious-blue: #26A4D3;
$bali-hai: #839FAC;
$congress-blue: #064083;
$madison: #082E59;
$corn: #EDB900;
$blue-chill: #0F6E9B;
$catalina-blue: #084874;
$chambray: #30587E;
$biscay: #1A446B;
$regent-gray: #828E9C;
$cruise: #BAE6EF;
$matisse: #196AA1;
$venice-blue: #0B5E96;
$deep-sapphire: #083663;
$sushi: #96B331;
$scooter: #32a9d5;
$limed-spruce: #36424A;
$pizza: #BA8A16;
$dusty-gray: #989898;
$hit-gray: #A5AFBB;
$alto: #CECECE;
$blue-whale: #062A4F;
$crete: #6E8E33;
$iron: #E1E2E4;
$nevada: #5F6A72;
$gallery: #EEEEEE;
$wild-sand: #F5F5F5;
$cerulean: #01aef0;
//Error message
$flamingo: #EB5635;
// Status colors
$tia-maria: #d43211;
$meteor: #d47211;
$fun-green: #009933;
$web-orange: #ffa500;
$christi: #66b215;

//teraco
$teraco-dark-blue: #2A4F8E;
$teraco-primary-blue: #1591C5;
$teraco-light-blue: #00D4FF;
$teraco-dark-green: #33BA02;
$teraco-light-green: #80D800;
$teraco-charcoal: #293748;
$teraco-light-grey: #616E77;
$teraco-dark-grey: #E4E4E8;


// Media queries
$sm-up: 'only screen and (min-width: 768px)';
$md-up: 'only screen and (min-width: 992px)';
$lg-up: 'only screen and (min-width: 1200px)';
$lg-mid-up:'only screen and (min-width: 1300px)';
$xl-up: 'only screen and (min-width: 1600px)';

$xs-only: 'only screen and (min-width: 320px) and (max-width: 767px)';
$sm-only: 'only screen and (min-width: 768px) and (max-width: 991px)';
$md-only: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$lg-only: 'only screen and (min-width: 1200px) and (max-width: 1599px)';

$mobi-only: 'only screen and (max-width: 480px)';
$mobi-sm: 'only screen and (max-width: 350px)';
