{% extends 'base.html' %}

{% block global_alerts %}{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <div class="text-center">
                            <h3 class="fw-light my-4">{% block auth_title %}{% endblock %}</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        {% include 'components/alerts.html' %}
                        {% block auth_content %}{% endblock %}
                    </div>
                    <div class="card-footer text-center py-3">
                        {% block auth_footer %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
