{% extends 'auth_layout.html' %}
{% load i18n %}

{% block title %}{% trans "Password Reset Sent" %} | DasBlog{% endblock %}

{% block auth_title %}{% trans "Check your inbox" %}{% endblock %}

{% block auth_content %}
<p class="mb-3">{% trans "We've emailed you instructions for setting your password. You should receive the email shortly!" %}</p>
<div class="d-grid gap-2">
  <a class="btn btn-primary" href="{% url 'account_login' %}">{% trans "Back to login" %}</a>
  <a class="btn btn-outline-secondary" href="{% url 'core:home' %}">{% trans "Return home" %}</a>
</div>
{% endblock %}



