.panel {
  background-color: $chambray;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  color: white;
  font-family: 'museo300', sans-serif;
  font-size: 16px;
  margin-bottom: 7px;

  &:hover {
    background-color: $biscay;
  }

  >a {
    color: white;
    display: block;
  }

  .panel-body {
    padding: 9px 20px;
    position: relative;
  }
}